.location {

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7.3rem;
        padding-bottom: 9rem;

    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 18.3rem;
    }

    &__details {
        display: grid;
        column-gap: 10.9rem;
        row-gap: 15rem;
        grid-template-columns: 1fr 1fr;
        padding-left: 2.5rem;
    
    }
}

.row {
    display: flex;
    flex-direction: column;
}

.map {
    height: 50rem;
    padding-right: 7.5rem;
}