@import "../../../scss/foundation/variables";

nav {
    color:white;
    display: flex;
    align-items: center;
    gap: 28.9rem;
    padding: 2.4rem 7.5rem;
    border-bottom: 1px solid #FFFFFF2E;
}

.logo {
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.8rem;
        font-size: 3rem;
        font-family: $cormorant;
        font-weight: $bold;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
            transition: all 1s ease-in-out;
        }
    }
}

.right__wrapper {
    display: flex;
    align-items: center;
    font-family: $open;
    font-weight: $semibold;
}

.elements {
    display: flex;
    gap: 6.1rem;
    font-size: 2rem;
}

.phone {
    display: flex;
    align-items: center;
    padding: 0 4.6rem 0 2.6rem;
    font-size: 2rem;

       &:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-thickness: 4px;
        text-decoration-color: #FBC2EB;
    }
}

.bag {
    cursor: pointer;
}